// variables for colors 
$color-primary:#55c57a;
$color-primary-dark:#28b485;
$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;
$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;
$color-orange:orange;
$color-primary-light:#7ed56f;
$color-grey-dark: #777;
$color-white:#fff;
$color-black:#000;
$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;
// my colors
$color-my-blue:#00203fff;
$color-my-green:#ADEFD1FF; // fonts
$color-my-red: #cc0033;
$color-my-purple: #7a0085;
$default-font-size:1.6rem;
// variables that comes under grid system 
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;
//this are the basic defination of our project
*,
*::after,
 ::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* margin: 0px;
     padding: 0px;
     box-sizing:border-box; */
}


/* 
  root font size if done in html selector 
  converting root font size values and migrating font-size from px to rem for building an better responsive pages so while building pages all the sizes are decreased simultaneously 
 */


/* '
     1 rem is equal to 10 px 
  */

html {
    /*
     here we are setting default font-size for the browser view 
     (10/16)=0.625*100=62.5%,0.625*20=12.5
     
     */
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-grey-dark;
    /* padding: 30px; */
    // padding: 3rem;
}

// a {
//     color: black;
//     text-decoration: none;
//     transition: all .2s;
//     text-align: center;
//     &:hover {
//         color: rgb(113, 0, 128);
//         box-shadow: 0 3rem 6rem rgba($color-black, .1);
//     }
// }
.header {
    height: 100vh;
    margin: 0rem;
    color: black;
    padding: 0rem;
    position: relative;
    text-decoration: none;
    &__nav {
        background: transparent;
        padding: 2rem;
        font-size: 2rem;
    }
    &__logo {
        font-size: 4rem;
    }
    &__logo-left {
        margin: 0;
        float: left;
        list-style: none;
        display: inline-block;
    }
    &__logo-right {
        text-align: center;
        // color: orange;
        float: right;
        list-style: none;
        margin: 0;
        text-decoration: none;
        padding: .2rem;
        padding-left: 4rem;
        display: inline-block;
        font-family: inherit;
        // font-family: 'Dancing Script', cursive;
        // font-size: 1rem;
        text-transform: uppercase;
        a {
            color: black;
            text-decoration: none;
            transition: all .2s;
            text-align: center;
            font-family: 'Aref Ruqaa', serif;
            &:hover {
                color: rgb(113, 0, 128);
                box-shadow: 0 3rem 6rem rgba($color-black, .1);
            }
        }
        &:hover {
            // color: white;
            text-align: center;
            // color: red;
            font-size: 2.3rem;
            // box-shadow: 0 3rem 6rem rgba($color-black, .1);
            animation-delay: .2s;
            backface-visibility: hidden;
        }
    }
}

.bg-video {
    position: absolute;
    top: 0%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden;
    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover; // make height and width 100% it clips out the extra part with respect to parent element  
    }
}

.header__button {
    marign: 0 auto;
}

.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.2rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: absolute;
        top: 47%;
        left: 42.3%;
        font-size: 1.6rem;
    }
    /* btn white is only playing a major role in coloring ur elements  */
    &--green {
        background-color: $color-primary;
        color: #eee;
    }
    &--white {
        background-color: black;
        color: wheat;
    }
    /* hover works when ur mouse pointer goes above the word  */
    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    /*
 active works  hold ur mouse on it 
 
  */
    &:active {
        transform: translateY(-.1rem);
        /* background-color: black; */
        box-shadow: 0 0.5rem 2rem rgba($color-black, 0.2); // it only works in sass specifying html color in sass 
    }
    /*  
     psuedo classes are special classes f a selector 
     where button is the one of the sudo classes which is similiar hover element
     so here link is an howver element for btn0 
     
     */
    /* after psuedo elelments  */
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    &--white::after {
        background-color: #fff;
    }
    &--animated {
        animation: moveinbutton 3s ease-out .35s;
        animation-fill-mode: backwards;
    }
}