<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <script src="https://kit.fontawesome.com/3c031f7045.js" crossorigin="anonymous"></script>



</head>

<body>
    <header class="header">
        <div class="bg-video">
            <video class="bg-video__content" autoplay muted loop>
                <source src="img/blogvideo1.mp4" type="video/mp4">
                <source src="img/blogvideo1.webm" type="video/webm">
                    Your browser is not supported !
                </video>
        </div>
        <nav class="header__nav">
            <ul>
                <li class="header__logo-left">
                    <a href="#">
                        <span>
            <i class="fas fa-blog header__logo"></i></span>
                    </a>
                </li>


                <li class="header__logo-right">
                    <a href="#"> sign in </a></li>
                <li class="header__logo-right">
                    <a href="#"> sign up </a></li>
                <li class="header__logo-right">
                    <a href="/blogs"> Blogs </a>
                </li>

            </ul>
        </nav>

        <!-- <div class="header__button"> -->
        <a href="/blogs/new" class="btn btn--white btn--animated"> create new blog</a>
        <!--  -->

        <!-- <p>welcome to home page</p> -->
    </header>

</body>

</html>