<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/new.css">
    <script src="https://kit.fontawesome.com/3c031f7045.js" crossorigin="anonymous"></script>
</head>

<body>
    <section class="formpage">
        <h1 class="formpage__header">
            new blog
        </h1>
        <div class="form">
            <form action="#">
                <div class="form__group">
                    <input type="text" class="form__input" placeholder="title" name="blog['title]'">
                    <input type="text" class="form__input" placeholder="image-url" name="blog['image']">
                </div>
                <div class="form__group--1">
                    <textarea name="blog[body]" class="form__textarea" placeholder="body"></textarea>
                </div>
                <div class="form__submit">
                    <button class="form__button" type="submit ">Submit</button>
                </div>

            </form>
        </div>

    </section>
</body>

</html>