<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/register.css">
    <script src="https://kit.fontawesome.com/3c031f7045.js" crossorigin="anonymous"></script>
</head>

<body>

    <section class="login">
        <h1 class="login__header">Sign up</h1>
        <form method="#" class="login__group" action="/login">
            <input type="text" name="username" class="login__group--user" placeholder="username">
            <input type="password" name="password" class="login__group--password" placeholder="password">
            <button class="login__group--button">submit</button>
        </form>
    </section>
    <!-- 
    <section class="register">
        <h1 class="register__header">sign up</h1>
        <form action="#" method="POST" class="register__form">
            <input class="register__form--1" type="text" placeholder="username" name="username">
            <input class="register__form--2" type="password" placeholder="password" name="password">
            <button class="register__form--3">submit</button>
        </form>
    </section> -->

</body>

</html>