*,
*::after,
::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

/* 
root font size if done in html selector 
converting root font size values and migrating font-size from px to rem for building an better responsive pages so while building pages all the sizes are decreased simultaneously 
*/
/* '
1 rem is equal to 10 px 
*/
html {
  /*
here we are setting default font-size for the browser view 
(10/16)=0.625*100=62.5%,0.625*20=12.5

*/
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  /* padding: 30px; */ }

.show {
  width: 85%;
  padding: 3rem;
  margin: 0 auto;
  margin-top: 4rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .show__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem; }
  .show__img {
    width: 60%;
    height: 30%;
    margin: 0 auto;
    margin: 3rem;
    margin-left: 40rem;
    width: 32.5%;
    height: 30rem;
    transition: all .2s; }
    .show__img:hover {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .show__body {
    letter-spacing: .3rem;
    font-size: 2rem;
    padding: 2rem; }
